
MONGODB_URI='mongodb connection string here'

JWT_SECRET='your_jwt_secret_here'

CLOUDINARY_NAME='cloudinary cloud name here'
CLOUDINARY_API_KEY='cloudinary api key here'
CLOUDINARY_SECRET_KEY='cloudinary secret key here'